public class Training_Isaac {
    public static void main(String[] args) {
        String youtuber1 = "MrBeast";
        String youtuber2 = "Inoxtag";
        String youtuber3 = "Unchained";
        String tousLesYoutubers = youtuber1 + youtuber2 + youtuber3;
        System.out.println (tousLesYoutubers);
    }
}
